td.homew{
    border: none;
    width: 100px;
}
th.homew{
    border: none;
    width: 100px;
}
img.logos{
    margin-right: 8px;

}
img.projectImage{
    width: 100%;
   border: solid 1px #AAA;
height: 278px;
    
}
h4.mainaccount{
    margin-bottom: .0em;
    margin-top: .0em;
    line-height: 20px;
}
h5.affiliate{
    margin-left: 20px;
    margin-bottom: .0em;
    margin-top: .0em;
    line-height: 19px;
}