td.homew{
    border: none;
    width: 100px;
}
th.homew{
    border: none;
    width: 100px;
}
img.logos{
    margin-right: 8px;
    
}
h4.mainaccount{
    margin-bottom: .01em;
	margin-top: .01em;
}
h5.affiliate{
    margin-left: 10px;
    margin-bottom: .01em;
	margin-top: .01em;
}